.NavBar-container {
  background-color: var(--primary);
  height: 5vh;
}

.NavBar-bottomLine {
  position: absolute;
  top: 4.7vh;
  background-color: var(--grey);
  width: 100%;
  height: 3px;
}
.NavBar-text {
  padding-top: 0.6vh;
  padding-left: 0.5vw;
  color: white;
  font-size: 2.5vh;
}
.NavBar-linkText {
  background-color: var(--grey);
  padding: 0.1vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin-left: 0.5vw;
  margin-top: 0.5vh;
  color: red;
  font-size: 2.5vh;
  border-radius: 1vw;
  cursor: pointer;
}
.NavBar-linkedin {
  color: var(--lightgrey);  
  padding: 0.3vw;
  cursor: pointer;
}
.NavBar-copied {
  background-color: var(--grey);
  padding: 0.5vw;
  height: 2vh;
  color: white;
  border-radius: 2vw;
}
.NavBar-linksContainer {
  align-items: center;
  width: 100%;
}
.NavBar-help {
  color: var(--lightgrey);  
  padding: 0.3vw;
  cursor: pointer;
  margin-left: -2vw;
}