.topbar-container {
    height: 12.2vh;
    width: 100%;
}
.topbar-playerContainer {
    position: relative;
    height: 12vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.topbar-timelineContainer {
    height: 5vh;
    width: 100%;
}
.topbar-line {
    justify-self: flex-end;
    background-color: var(--grey);
    height: 3px;
}
.topbar-buttonContainer {
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
    height: 100%;
}
.topbar-timeline {
    width: 80vw;
}
.topbar-player {
    position: absolute;
    top: 10vh;
}